@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  position: relative;
}

.navbar {
  display: flex;
  position: sticky;
  padding: 1rem;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  background-color: #222222;
  color: #ffffff;
}
